<header class="container-fluid bg-dark text-light gray mt-4 border border-white">
  <div class="jumbotron-fluid">
    <div class="text-center pt-4">
      <img src="../assets/images/logo (2).png" class="rounded-circle" style="max-height: 150px;background-color: white;">
      <h1 class="display-2">Fitness Tracker App</h1>
    </div>
  </div>
 
  
</header>
<main class="container-fluid" style="min-height: 500px;">
  <div class="border border-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto" style="font-size: 15pt;">
          <a class="btn  m-2 btn-outline-light"  routerLink="/landing-page">Home</a>
          <a class="btn  m-2 btn-outline-light"  routerLink="/view-appointment">View Appointment</a>
          <a class="btn  m-2 btn-outline-light"  routerLink="/place-fitness-trainer-appointment">Place Appointment</a>
          <a class="btn  m-2 btn-outline-light"  routerLink="/contact-us">Contact Us</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="row border border-white p-4" style="min-height: 500px;">
    <div class="col-md-3 bg-dark">
      <div class="list-group ">
        <a routerLink="/landing-page" class="list-group-item list-group-item-action">Home
        </a>
        <a routerLink="/view-appointment" class="list-group-item list-group-item-action">View Appointment</a>
        <a routerLink="/place-fitness-trainer-appointment" class="list-group-item list-group-item-action">Place Appointment</a>
        <a routerLink="/contact-us" class="list-group-item list-group-item-action">Contact US</a>
      </div>
    </div>
    <div class="col-md-9 border pb-4 bg-light">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<footer class="footer border border-light">
  <div class="container-fluid text-center">
    <p class="text-light" style="font-size: 20pt; color: white;">
      Fitness Tracking App
    </p>
    <img src="../assets/images/logo (2).png" class="rounded-circle mb-4" style="max-height: 100px;background-color: white;">
  </div>
</footer>