
<div class="container">
    <img src="../../assets/images/fit.jpg" class="img-fluid ">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, obcaecati eligendi 
        exercitationem laborum odio assumenda tenetur eos! Odit fugiat doloremque nesciunt
         reiciendis consequuntur iure, rerum quia corrupti, earum, laboriosam quos?Lorem 
         ipsum, dolor sit amet consectetur adipisicing elit. Molestias vero doloremque amet
          iste minima, voluptas adipisci laboriosam eaque, incidunt exercitationem tempori
          bus sit dolor aliquam sunt totam. Non laboriosam aperiam esse!obcaecati Lorem ips
          um dolor sit amet consectetur adipisicing elit. Ullam quod facilis autem quia ill
          o, quae tempora labore id dolorem omnis aspernatur alias reprehenderit assumenda 
          natus accusamus doloribus! Nam, incidunt minus!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, obcaecati eligendi 
          exercitationem laborum odio assumenda tenetur eos! Odit fugiat doloremque nesciunt
          reiciendis consequuntur iure, rerum quia corrupti, earum, laboriosam quos?Lorem 
          ipsum, dolor sit amet consectetur adipisicing elit. Molestias vero doloremque amet
          iste minima, voluptas adipisci laboriosam eaque, incidunt exercitationem tempori
          bus sit dolor aliquam sunt totam. Non laboriosam aperiam esse!obcaecati Lorem ips
          um dolor sit amet consectetur adipisicing elit. Ullam quod facilis autem quia ill
          o, quae tempora labore id dolorem omnis aspernatur alias reprehenderit assumenda 
          natus accusamus doloribus! Nam, incidunt minus!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, obcaecati eligendi 
          exercitationem laborum odio assumenda tenetur eos! Odit fugiat doloremque nesciunt
          reiciendis consequuntur iure, rerum quia corrupti, earum, laboriosam quos?Lorem 
          ipsum, dolor sit amet consectetur adipisicing elit. Molestias vero doloremque amet
          iste minima, voluptas adipisci laboriosam eaque, incidunt exercitationem tempori
          bus sit dolor aliquam sunt totam. Non laboriosam aperiam esse!obcaecati Lorem ips
          um dolor sit amet consectetur adipisicing elit. Ullam quod facilis autem quia ill
          o, quae tempora labore id dolorem omnis aspernatur alias reprehenderit assumenda 
          natus accusamus doloribus! Nam, incidunt minus!
    </p>
    <button class="btn btn-secondary btn-lg btn-block" routerLink="/place-fitness-trainer-appointment">Apply For Trainer</button>
</div>

